* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  margin: 20px 0;
  text-decoration: 2px underline dashed #000;
}

p {
  padding: 10px;
  background-color: bisque;
  margin: 0 20px;
}
